volumes:
  valheim_data:
services:
  valheim:
    image: hexagon6/valheim
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "2456:2456"
      - "2457:2457"
    environment:
      NAME: "server name"
      WORLD: "world name"
      PORT: 2456
      SECRET: "santaclausisnotreal"
      DISABLE_CROSSPLAY: y # remove variable if you want crossplay
    volumes:
      - "valheim_data:/data"
      - "./runfiles:/irongate:ro"
    init: true
    command: "./start_server.sh"
